.bg-image-game {
  background-image: url("../assets/blue-preview.png");
}
.header-menu-game {
  background: rgba(50, 44, 43, 0.6);
  font-family: "Audiowide";
  box-shadow: 2px 2px 5px #3498db;
}
.barra-lateral-game {
  background: rgba(50, 44, 43, 0.8);
  /*border: 2px solid #3498DB;*/
  font-family: "Audiowide";
  box-shadow: 2px 2px 5px #3498db;
}
.content-tab-game {
  background: rgba(50, 44, 43, 0.8);
  /*border: 2px solid #3498DB;*/
  font-family: "Audiowide";
  box-shadow: 2px 2px 5px #3498db;
}

.animation-title:hover {
  font-size: 50px;
}

.line-menu-game {
  border: 1px solid grey;
  height: 1px;
  width: 90%;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 20px auto;
}
